# OS X
.DS_Store

# Others
*~
*.log

# VSCode
.vscode/
tsconfig.json
jsconfig.json

# NodeJS
node_modules/
!**/__tests__/**/node_modules
npm-debug.log
yarn-debug.log


# Android/IJ
.idea
.gradle

dist/
coverage/
